body {
    background-color: #232830;
    height: 2753px;
    color: #FFF;
    font-family: "Poppins";
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    padding: 40px 0;
}

.headbar,
.otherButtonHeadBar {
    display: flex;
}

.headbar {
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
    margin-left: 200px;
    margin-right: 200px;
}


.homeHeadBar {
    padding: 20px 20px;
    font-size: 30px;
}

.otherButtonHeadBar {
    flex-direction: row;
}

#other1,
#other2,
#other3 {
    margin-right: 36px;
    font-size: 24px;
    cursor: pointer;
}

.heroSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.titleHero {
    color: #FF7575;
    font-size: 71px;
    font-style: italic;
    font-family: "Recursive";
}

.tagline {
    margin-bottom: 50px;
}

.contents {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #4D4D4D;
    border-bottom: 1px solid #4D4D4D;
    justify-content: center;
    align-items: center;
}

.head-content,
.page-contents {
    display: flex;
}
.page-contents {
    gap: 50px;
    color: #909090;
    font-family: "Recursive";
    font-size: 27px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

.head-content {
    gap: 40px;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 111px;
    width: 1300px;
}

.contents-block {
    display: flex;
    margin-bottom: 50px;
    justify-content: space-between;
    width: 1300px;
}

.content-preview {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 338px;
    height: 364px;
    border-radius: 22px;
    border: 1px solid #252930;
    background: #FFF;
    padding: 26px;
}

.title-preview {
    width: 337.08px;
    color: #0F1217;
    font-family: "Poppins";
    font-size: 19px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 13px;
    margin-bottom: 13px;
}

.message-preview {
    width: 326.726px;
    color: #0F1217;
    font-family: "Poppins";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 13px;
}

.date-preview {
    display: flex;
    align-items: center;
    color: #0F1217;
    font-family: "Poppins";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    gap: 20px;
}

.foot-nav {
    margin-top: 100px;
    margin-bottom: 150px;
    display: flex;
    gap: 30px;
    color: #909090;
    font-style: italic;
    font-family: "Recursive";
}

.selected-pageNum {
    color: #FF7575;
    border-top: 2px solid #FF7575;
}


.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
    padding: 0 50px;
    margin-left: 200px;
    margin-right: 200px;
}

.first-credits {
    display: flex;
    gap: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    line-height: normal;
    font-size: 30px;
}

.credit-foot,
.second-credits {
    background-color: #4699E0;
    font-size: 19px;
    border-radius: 3px;
    padding: 3px 10px;
    padding-top: 5px;
    font-weight: 550;
}